body {
    font-family: Arial, sans-serif;
     background: linear-gradient(to bottom right, #3498db, #2ecc71);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}

.game-cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #ccc;
}

.message {
    margin-top: 20px;
    font-size: 1.2rem;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b;
}
