body {
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: right;
}

h1 {
  text-align: center;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 1.8rem;
    color: red;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

button {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}
