:root {
    --color-bg: rgba(5, 5, 5, 0.712);
    --color-skin: #f7bea2;
    --color-white: #fff;
    --color-black: #000;
    --color-orange: #ff9d76;
    --color-red: rgb(206, 49, 49);
    --color-brown: #371a0f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
        display: flex;
    justify-content: center;
    align-content: center;
    
}

.santa {
    height: 20vh;
    width: 30vh;
    margin-top: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: start;
}

.santa__face {
    background-color: var(--color-skin);
    /* border-radius: 100% / 10%;*pierwsza wartosc do poziomu,a druga do pionu*/
    border-radius: 25% 25% 0% 0% / 80% 80% 0% 0%; /*pierwsza dla poziomych naroznikow lini,a po prawej pionowe*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    z-index: 1;
}

.santa__beard {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 50% / 25% 25% 45% 40%;
    position: absolute;
    left: 0;
    top: 75%;
    z-index: 2;
}

.santa__face__eyes {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.santa__face__eye {
    background-color: var(--color-black);
    border-radius: 100%;
    height: 100%;
    width: 15%;
    margin: 0 2%;
    position: relative;
}

.santa__face__eye:after {
    background-color: var(--color-white);
    border-radius: 100%;
    bottom: 10%;
    content: "";
    display: block;
    height: 30%;
    position: absolute;
    right: 20%;
    width: 40%;
}

.santa__face__nose {
    background-color: var(--color-orange);
    height: 20%;
    width: 15%;
    border-radius: 70% / 50%;
}

.santa__beard_mouth {
    background-color: var(--color-black);
    height: 20%;
    width: 30%;
    margin: 10% auto;
    border-radius: 0 0 50% 50%;
    position: relative;
    overflow: hidden;
}

.santa__beard_mouth:after {
    content: "";
    display: block;
    height: 50%;
    width: 80%;
    background-color: var(--color-red);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 60% 60% 0 0 ;
}

.santa__cap {
    height: 60%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
}

.santa__cap__top {
    background-color: var(--color-red);
    border-radius: 100% 100% 0 0 / 200% 200% 0 0;
    height: 100%;
    width: 90%;
}

.santa__cap__stripe {
    background-color: var(--color-white);
    height: 50%;
    width: 100%;
    border-radius: 5% / 50%;
    position: relative;
}

.santa__cap__stripe:after {
    background-color: var(--color-white);
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    content: "";
    display: block;
    left: 5%;
    bottom: 100%;
    height: 30%;
    position: absolute;
    width: 90%;
}

.santa__cap__stripe:before {
    background-color: var(--color-skin);
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    content: "";
    display: block;
    left: 5%;
    bottom: 0%;
    height: 30%;
    position: absolute;
    width: 90%;
}

.santa__ball {
    background-color: var(--color-red);
    width: 80%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 0 100% 0 0 ;
    transform: rotate(30deg);
}

.santa__ball:after {
    background-color: var(--color-white);
    display: block;
    content: "";
    height: 50%;
    width: 30%;
    position: absolute;
    border-radius: 100%;
    right:  -10%;
    top: 75%;
}

.santa__body {
    background-color: var(--color-red);
    height: 200%;
    width: 100%;
    border-radius: 60% 60% 50% 50% / 90% 90% 15% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: ab;
    bottom: -30px;
}

.santa__body__dots {
    height: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.santa__body__dot {
    background-color: var(--color-black);
    height: 100%;
    width: 10%;
    z-index: 2;
    margin: 12px auto;
    padding: 20px;
    border-radius: 100%;
}

.santa__body__dot:after {
    position: absolute;
    top: 50%;
    left: 0;
}

.santa__body__stripe {
    background-color: var(--color-black);
    height: 5%;
    width: 100%;
    left: 10%;
    bottom: 15%;
    z-index: 2;
    border-radius: 2% 2% 33% 33% ;
}

.santa__body__stripe::after {
    position: absolute;
    top: 85%;
    left: 0;
}

.santa__body__stripe__gold {
    background-color: var(--color-black);
    height: 100%;
    width: 30%;
    margin: 0 auto;
    border: 4px solid rgb(184, 151, 4);
}

.santa__body__hands {
    height: 70%;
    width: 140%;
    display: flex; 
    justify-content: space-between;
    margin: 0 -39px;
}

.santa__body__hand__left {
    background-color: var(--color-red);
    height: 110%;
    width: 15%;
    margin: 0 10%;
    border-radius: 90% 90% 90% 90% / 50% 70% 0% 50%;
    transform: rotate(307deg);
    z-index: -1;
}

.santa__body__hand__right {
    background-color: var(--color-red);
    height: 100%;
    width: 15%;
    margin: 0 10%;
    border-radius: 70% 70% 90% 90% / 50% 50% 50% 50%;
    transform: rotate(224deg);
    z-index: -1;
    position: relative;
}

.santa__body__handy1 {
    background-color: var(--color-white);
    border-radius:  100% 100% 30% 40%;
    height: 20%;
    width: 90%;
    transform: rotate(355deg);
}

.santa__body__handy2 {
    background-color: var(--color-white);
    border-radius: 30% 40% 100% 100%;
    height: 20%;
    width: 92%;
    transform: rotate(355deg);
    position: absolute;
    right: -2.2%;
    top: 80%;
}


.santa__legs {
    height: 80%;
    width: 100%;
    display: flex; 
    justify-content: center;
}

.santa__leg {
    height: 100%;
    width: 100%;
    margin: 0 10%;
    border-radius:70% 70% 45% 45% / 20% 20% 50% 50%;
    position: relative;
}

.santa__leg:after {
    background-color: var(--color-red);
    border-radius: 20% 0% 20% 20% / 0% 0% 20% 20%;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    bottom: 15%;
    width: 100%;
}

.santa__shoe {
    background-color: var(--color-black);
    height: 40%;
    right: -2%;
    position: absolute;
    border-radius: 90% 90% 50% 50% / 40% 40% 50% 0;
    top: 80%;
    width: 105%;
    z-index: 1;
}

.santa__shoe:after {
    background-color: var(--color-black);
    border-radius: 50% 50% 0 0 / 80% 80% 0 0;
    content: "";
    display: block;
    height: 70%;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 130%;
}


.santa:hover .santa__body__hands {
    transform: rotate(0deg);
}

.santa:hover .santa__body__hand__right   {
    transform: scaleX(-1) rotate(120deg);
}

.santa:hover .santa__beard_mouth {
    overflow: visible;
}
.santa:hover .santa__beard_mouth:after {
    transform: scaleX(-1);
    border-radius: 60% 60% 90% 90%  ;
    height: 80%;
    top: 40%;
}